body{
    background-color: black;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.name{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 90px;
    font-weight:500;
    position:absolute;
    top:30%;
    left:10%;
    color:rgb(255, 252, 212);
}

.detail{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    font-weight:200;
    color:#d79e06;
    position:absolute;
    top:45%;
    left:10%;
}

a{text-decoration:none;}

.btn{
    border:2px #d79e06 solid;
    border-radius:5px;
    padding:5px;
    color:#d79e06;
    font-size:20px;
    position:absolute;
    top:55%;
    left:10%;
}

.return{
    border:2px #d79e06 solid;
    border-radius:5px;
    padding:5px;
    color:#d79e06;
    font-size:20px;
    position:absolute;
    top:5%;
    right:7%;
}

.return:hover{
    color:aliceblue;
    background-color: #d79e06;
    opacity:70%;
}

.btn:hover{
    color:aliceblue;
    background-color: #d79e06;
    opacity:70%;
}

.pic1{
    height:50%;
    position:absolute;
    bottom:30%;
    left:65%;
    border-radius:15px;
    box-shadow: 20px 20px 20px 2px #d79e06;
}

.about{
    position:absolute;
    top:105%;
    left:3%;
    color:#d79e06;
    font-size:60px;

}

.aboutme{
    position:absolute;
    top:125%;
    /* background-color:rgb(31, 31, 31); */
    height:30%;
    width:96%;
    color:aliceblue;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight:200;
    padding:20px;
    text-align:justify;
}

.w1{
    position:absolute;
    top:35%;
    left:15%;
    height:50%;
}

.w2{
    position:absolute;
    top:25%;
    right:15%;
    height:50%;
}

.w3{
    position:absolute;
    top:45%;
    left:55%;
    height:50%;
}

.w4{
    position:absolute;
    top:23%;
    left:35%;
    height:30%;
}

.w5{
    position:absolute;
    bottom:5%;
    left:35%;
    height:40%;
}

.w6{
    position:absolute;
    bottom:60%;
    right:35%;
    height:30%;
}

.footer{
    position:absolute;
    top:170%;
    background-color:rgb(31, 31, 31);
    height:15%;
    width:99%;
    color:#d79e06;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    font-weight:200;
    margin: 0px auto;
    text-align:justify;
    padding: 20px; }

#fot2{
    left:12%;
}

#fot3{
    left:35%;
}

#fot4{
    left:55%;
}

#fot5{
    left:80%;
}